{% extends 'inicio.html' %}
{%block contenidohj%}
<center>
    <h1>Doctor</h1>

    <div class="form-group">
        <form action="/buscar/" method="get">
        <input type="text" name="pwd" placeholder="Codigo de cita ">
            <input type="submit" value="Buscar">
        </form>
            </div>

    <div class="form-group">
        <a href="{% url 'doctorlistar'  %}" class="btn btn-primary">Todos</a>

    </div>

    <TABLE class="table table-danger table-striped table-bordered table-hover">
        <TR>

            <TH>Fecha registro</TH>
            <TH>Fecha modificación</TH>
            <TH>ID</TH>
            <TH>Cedula</TH>
            <TH>Registro</TH>
              <TH>Especialiad</TH>
            <TH>Apellidos</TH>
            <TH>Nombres</TH>
            <TH>Dirección</TH>
            <TH>Estado</TH>
            <TH>Modificar</TH>
            <TH>Imprimir</TH>

        </TR>
        {% for presenta in doct %}
        <TR>
            <TD>{{ presenta.doctorfecharegistro }}</TD>
            <TD>{{ presenta.doctorfechamodificacion }}</TD>
            <TD>{{ presenta.id }}</TD>
            <TD>{{ presenta.doctorcedula }}</TD>
            <TD>{{ presenta.doctorregistro }}</TD>
            <TD>{{ presenta.id_especialidad }}</TD>
            <TD>{{ presenta.doctorapellido }}</TD>
            <TD>{{ presenta.doctornombre}}</TD>
            <TD>{{ presenta.doctordireccion}}</TD>
            <TD>{{ presenta.doctorestado}}</TD>

            <td><a href="{% url 'doctormodificar' presenta.id %}" class="d-flex flex-column text-center" onClick="return confirm('¿Quieres modificar al Doctor: {{presenta.doctorapellido}} {{presenta.doctornombre}}?');">
                <center><i class="fas fa-history" style="font-size:24px"></i></center>
            </a></td>
            <td><a href="{% url 'doctorindivpdf' presenta.id %}" class="d-flex flex-column text-center">
                <center><i class="fas fa-print" style="font-size:24px"></i></center>
            </a></td>
        </TR>
        {% endfor %}


    </TABLE>

</center>

{% endblock %}