header{
    background:#2c3e50;
    color:#ffffff;
}
.main{
    background:#f2589f;
}
.color1{
    background:#34495e;
}

aside{
    background:#c0395b;
}

footer{
    background:#c0395lb;
    color:#f3498f;
}
body{
    background:#2c3e50;
    color:#f3498f;
}

